# Production mode
DEV_MODE=false

PORT=10000

# Redis configuration (Upstash)
REDIS_EXPIRATION=300
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_PORT=
REDIS_HOST=

# API URLs
ANILIST_API_URL=https://graphql.anilist.co/
CONSUMET_API_URL=https://api.consumet.org
ANIWATCH_API_URL=https://hianime.to